## ignore this file##
*.exe
*.pdb
.dockerignore
.idea
.project
.settings
*.txt
/Purchase.CoreApp/ResizableDemo/bin
/Purchase.CoreApp/ResizableDemo/obj
/Purchase.CoreApp/RecordScreenDemo/bin
/Purchase.CoreApp/RecordScreenDemo/obj
/Purchase.CoreApp/Purchase.CoreApp/obj
/Purchase.CoreApp/Purchase.CoreApp/bin
/Purchase.CoreApp/ElipseTool/bin
/Purchase.CoreApp/ElipseTool/obj
/Purchase.CoreApp/packages
/Purchase.CoreApp/RoundButtonDemo/bin
/Purchase.CoreApp/RoundButtonDemo/obj
/Purchase.CoreApp/GradientPanelDemo/bin
/Purchase.CoreApp/GradientPanelDemo/obj
/Purchase.CoreApp/DragControlDemo/bin
/Purchase.CoreApp/DragControlDemo/obj
/Purchase.CoreApp/ModernDashboardDemo/bin
/Purchase.CoreApp/ModernDashboardDemo/obj
