## ignore this file##
*.exe
*.pdb
.dockerignore
.idea
.project
.settings
*.txt
/Purchase.CoreApp/ResizableDemo/bin
/Purchase.CoreApp/ResizableDemo/obj
/Purchase.CoreApp/RecordScreenDemo/bin
/Purchase.CoreApp/RecordScreenDemo/obj
/Purchase.CoreApp/Purchase.CoreApp/obj
/Purchase.CoreApp/Purchase.CoreApp/bin
/Purchase.CoreApp/ElipseTool/bin
/Purchase.CoreApp/ElipseTool/obj
/Purchase.CoreApp/packages
/Purchase.CoreApp/RoundButtonDemo/bin
/Purchase.CoreApp/RoundButtonDemo/obj
/Purchase.CoreApp/GradientPanelDemo/bin
/Purchase.CoreApp/GradientPanelDemo/obj
/Purchase.CoreApp/DragControlDemo/bin
/Purchase.CoreApp/DragControlDemo/obj
/Purchase.CoreApp/ModernDashboardDemo/bin
/Purchase.CoreApp/ModernDashboardDemo/obj
/Purchase.CoreApp/MultiColoredModernUI/bin
/Purchase.CoreApp/MultiColoredModernUI/obj
/Purchase.CoreApp/DropdownPanelDemo/bin
/Purchase.CoreApp/DropdownPanelDemo/obj
/Purchase.CoreApp/BookShopDemo/bin
/Purchase.CoreApp/BookShopDemo/obj
/Purchase.CoreApp/CustomerControl/bin
/Purchase.CoreApp/CustomerControl/obj
/Purchase.CoreApp/CircularFormDemo/bin
/Purchase.CoreApp/CircularFormDemo/obj
/Purchase.CoreApp/GameEngineUI/bin
/Purchase.CoreApp/GameEngineUI/obj
/Purchase.CoreApp/DarkThemeApp/bin
/Purchase.CoreApp/DarkThemeApp/obj
/Purchase.CoreApp/DasboardDemo/obj
/Purchase.CoreApp/DasboardDemo/bin
/Purchase.CoreApp/BabyMallDemo/bin
/Purchase.CoreApp/BabyMallDemo/obj
/Purchase.CoreApp/GeoMapDemo/bin
/Purchase.CoreApp/GeoMapDemo/obj
/Purchase.CoreApp/CircularFrmDemo/bin
/Purchase.CoreApp/CircularFrmDemo/obj
