@page "/todo"
<div class="jumbotron" style="padding: 45px 0px;">
    <h4 class="text-center">To Do List App</h4>
</div>

<div class="input-group">
    <input type="text" @bind="currentTitle">
    <div class="input-group-addon hover-cursor" @onclick="()=> {lists.Add(new CheckItem{ Title = currentTitle}); currentTitle = string.Empty;}">
        <i class="fa fa-plus-circle fa-2x"></i>
    </div>
</div>

<div style="margin:5px 0px">
    <ul class="list-group">
        @foreach(CheckItem item in lists.OrderBy(p=>p.IsChecked))
        {
            <li class="list-group-item">
                <span class="hover-cursor" @onclick="()=> item.IsChecked = !item.IsChecked">
                    <i class="fa fa-lg @(item.CheckedClass)"></i>
                </span>
                @item.Title
                <span class="hover-cursor text-danger pull-right">
                    <i class="fa fa-trash-o fa-lg"></i>
                </span>
            </li>
        }
        
    </ul>
</div>

@code {
    private IList<CheckItem> lists = new List<CheckItem>();
    private string currentTitle = string.Empty;
}
